body {
	background-image: url("../content/back.jpg");
	background-repeat: repeat-y;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.toolbox {
	background-color: #333333;
	height: 50px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
	background-color: #333333;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6)
}

.board {
	opacity: 0.82;
	position: static;
	background-image: url("../content/board.jpg");
	height: 150px;
	width: 100%;
	margin-bottom: 7px;
	box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.9);
}

.anim {
	color: #bfbfbf;
	position: absolute;
	text-shadow: -10px -20px 10px black;
	font-size: 5em;
	top: 5%;
	left: 20%;
	position: absolute;
}

.space {
	height: 20px;
	width: 100%;
}

.menu {
	background-color: #333333;
	position: relative;
	width: 80%;
	height: 50px;
	margin: auto;
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.5);
	position: relative;
}

.content {
	padding: 20px;
	padding-left: 30px;
	padding-top: 50px;
	min-height: 100%;
	margin: auto;
	background: white;
	border-style: dotted;
	border-width: 2px;
	border-color: #9ecaed;
	border-top: none;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
	width: 70%;
}

.h20 {
	height: 20px;
}

.h10 {
	height: 10px;
}

.h5 {
	height: 5px;
}

.login {
	margin-left: 30%;
	margin-top: 10%;
}

input,button,select {
	margin-top: 10px;
	margin-left: 10px;
	border: 2px solid #dadada;
	border-radius: 7px;
	height: 25px;
	width: 220px;
	font-size: 12pt;
}

input:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

input[type=submit]:hover,button:hover {
	background-color: #71c174;
}

input[type=submit],button {
	height: 40px;
	width: auto;
	margin-left: 17%;
	text-transform: uppercase;
	background-color: #489d48;
	cursor: pointer;
}

input[type=file] {
	width: 300px;
}

.help {
	font-size: 10pt;
	margin-left: 14%;
}

#flow {
	background-color: #333333;
	position: fixed;
	left: 0px;
	margin: 0px;
	padding: 0px;
	top: 0px;
}

.items {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	display: inline;
}

.items li {
	float: left;
}

.items li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
}

.items li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

.right {
	float: right;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 2px;
}

.items li {
	border-left: 1px solid #bbb;
}

.items li:last-child {
	border-right: none;
}

.items li:first-child {
	border-left: 1px dotted #9ecaed;
}

#goup {
	color: white;
	width: 35px;
	height: 40px;
	cursor: pointer;
	margin-right: 8%;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 10px;
	border-right: 1px solid #bbb;
	border-bottom: 4px solid #102310;
	border-left: none;
	text-transform: uppercase;
}

#goup:hover {
	background-color: #306930;
}

.footer {
	background-color: #efefef;
	text-align: center;
	opacity: 0.96;
	background-color: #306930;
	text-align: center;
	box-shadow: 0 -5px 3px 3px rgba(0, 0, 0, 0.9);
	height: 50px;
	margin-top: 20px;
	margin-bottom: 0px;
	bottom: 0px;
}

.footer h4 {
	color: #bfbfbf;
	margin: auto;
	padding-top: 20px;
}

.emessage {
	color: red;
}

.code {
	font-size: 8em;
	font-style: italic;
	margin-left: 30%;
}

hr {
	margin-right: 30%;
}

.autoalign label,.autoalign input {
	display: inline-block;
}

.wrapper {
	height: 100%;
}

#formDiv {
	padding-left: 10px;
	background-color: #ffffe5;
	border: 1px solid #9ecaed;
}

#formDiv input {
	margin-top: 20px;
	margin-left: 20px;
}

#formDiv button {
	margin-top: 20px;
	margin-left: 15%;
	margin-bottom: 10px;
}

#dynamicCont ul li {
	list-style: none;
}


#dynamicCont li {
	list-style: none;
}

#dynamicCont li button {
	width: 30px;
	height: 30px;
	color: red;
	font-weight: bolder;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-top: 3px;
}

.clear {
	height: 50px;
}

#departments {
	margin: auto;
}

#departments th {
	background-color: #9ecaed;
	cursor: pointer; 
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#departments tbody tr:nth-child(2n + 1) {
	background-color: #ffffe5;
}

#departments tbody tr:nth-child(2n) {
	background-color: #ffffb3;
}

#departments .sortable div {
	background-image: url("../content/bg.gif");
	background-repeat: no-repeat;
	margin: 0px;
	cursor: pointer;
	width: 20px;
	height: 10px;
	display: inline-block;
}

#departments .sortable .asc {
	background-image : url("../content/asc.gif");
	background-repeat: no-repeat;
	margin: 0px;
	cursor: pointer;
	width: 20px;
	height: 10px;
	display: inline-block;
	background-image: url("../content/asc.gif");
}

#departments .sortable .desc {
	background-image: url("../content/desc.gif");
	background-repeat: no-repeat;
	margin: 0px;
	cursor: pointer;
	width: 20px;
	height: 10px;
	display: inline-block;
}

#departments input[type=submit] {
	margin-left: 10%;
	margin-bottom: 5%;
	height: 30px;
	width: 150px;
	font-size: 10pt;
}
#formDiv .help { 
	display:inline-block;
	font-size: 8pt;
	margin-left: 20%;
}

#searchForm input[type=search]{
	width: 80%;
	height: 30px;
	margin: auto;
}
#searchForm input[type=submit]{
	background: url(../content/search.png) no-repeat scroll 0 0 transparent;
	width: 30px;
	margin: 0px;
	height: 30px;
	margin-left: -40px;
	border: none;
}

#searchResult li{
	list-style:decimal;
	font-size: 9pt;
}
#searchResult li a{
	font-size: 12pt;
}
#userMarks {
	margin: auto;
	margin-left: -5px;
	width: 100%;
}
#notFound{
	font-size: 10pt;
	color: gray;
	margin: auto;
	text-align: center;
}
.userApplications {
	text-align: center;
	margin: auto;
}

.userApplications .success :nth-child(3) {
	background-color: #ccffcc;
	border: 1px solid red;
}

.userApplications td :HOVER {
	background-color: blue;
}
select {
	width: auto;
}